body {
  background-color: black;
  /* opacity: 0.7; */
  font-family: "Raleway", sans-serif !important;
  background: url(images/bg-1.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
}
